* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.dogpics {
  width: 230px;
  height: 250px;
}

.dogcard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0;
  padding: 1px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.singledogcard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0;
  padding: 1px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
