@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Cormorant+Garamond:wght@600&family=Dosis&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: rgb(14, 34, 124);
  height: 100vh;
  color: orange;
  font-family: "Alkalami", serif;
}
.layout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: rgb(14, 34, 124);
}

.dogpics {
  width: 20vw;
  height: 25vh;
  padding: 5px;
}

.dogcard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px 0;
  padding: 5px;
  margin: 10px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: cornsilk;
}
